[submodule "v2x_if_ros_msg"]
	path = v2x_if_ros_msg
	url = git@github.com:DLR-TS/v2x_if_ros_msg
[submodule "apt_cacher_ng_docker"]
	path = apt_cacher_ng_docker
	url = https://github.com/DLR-TS/apt_cacher_ng_docker.git
	branch = master
